
# TODO:

getServicePort () {
    PORT=$(kubectl -n $NS get service/ckad-demo | awk '/:/ { FS=":"; $0=$5; FS="/"; $0=$2; print $1; }')
}

getClusterIP() {
    CLUSTER_IP=$(kubectl -n $NS get service/ckad-demo | awk '/:/ { print $3; }')
}

getPodIP() {
    POD_IP=$(kubectl -n $NS get pods --no-headers -o wide | awk '{ print $6; exit(0); }')
}

getANodeIPForRunningPod() {
    # Any node would do: but let's take one on which our Pod is running on
    NODE_IP=$(kubectl -n $NS get pods --no-headers -o wide | awk '{ print $7; exit(0); }')
}




